<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Business </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="~/favicon.ico" />

    @await Html.PartialAsync("_CssImport.cshtml")
    @RenderSection("header", required: false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    @*<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>*@
</head>
<!-- class sidebar-mini -->
<body class="hold-transition skin-blue sidebar-collapse">
    <!-- NoScript Alert -->
    <noscript>
        <div class="alert alert-danger" style="margin: 0;  border-radius: 0;">
            <span><strong>AVISO IMPORTANTE: </strong> Para utilizar esta aplicación es necesario tener <strong>JavaScript</strong> habilitado.</span>
        </div>
    </noscript>
    <!-- /NoScript Alert -->

    <div class="wrapper">
        @await Html.PartialAsync("_Header.cshtml")
        @await Html.PartialAsync("_Sidebar.cshtml")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderSection("ContentHeader", required: false)
            <!-- Main content -->
            <section class="content">
                <!-- div class="box" -->
                <!-- divclass="box-body"-->
                @RenderBody()
                <!-- div-->
                <!--div-->
            </section>
            <div id="Loading" class="loader" style="display:none;">
                <img src="~/img/loading.gif" style="width: 50%;" />
            </div>
        </div>
        <!-- /.content-wrapper -->

        @await Html.PartialAsync("_Footer.cshtml")
        @await Html.PartialAsync("_ControlSidebar.cshtml")
    </div>

    @await Html.PartialAsync("_JsImport.cshtml")
    @RenderSection("scripts", required: false)
    @*<script>
            $(document).ready( function () {
                $('#dtable').DataTable();
            } );
        </script>*@
</body>
</html>
